{% extends 'user_base.html' %}
{% load static %}

{% block headInclude %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="text-center"x>
    <!--<div>
        <h1 class="text-3xl font-bold text-center text-blue-600 mb-6">Dashboard</h1>
    </div>-->
    <img src="{% static 'images/admin_dashboard_img.png' %}" alt="Dashboard Welcome" class="max-w-lg mx-auto" style="height: 85vh; width: 40vw">
    <!--<h2 style="font-family: Roboto; font-weight: bold;">Welcome to Your Dashboard</h2>
    <p style="font-family: Roboto; font-weight: 500;">Manage your applications, view analytics, and customize your settings efficiently.</p> -->
</div>

{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}
