{% extends 'base.html' %}

{% block title %}
{{ block.super }} - Doctor Dashboard
{% endblock %}

{% block content %}
{% load static %}
<h2>Doctor Dashboard</h2>

<p>Welcome, Dr. {{ user.first_name }} {{ user.last_name }}</p>

<section class="text-center text-lg-start">
    <style>
        .rounded-t-5 {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        @media (min-width: 992px) {
            .rounded-tr-lg-0 {
                border-top-right-radius: 0;
            }

            .rounded-bl-lg-5 {
                border-bottom-left-radius: 0.5rem;
            }
        }
    </style>
    <div class="card mb-3">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-4 d-none d-lg-flex">
                <img src="{% static 'images/download1.jpg' %}" alt="Doctor Image" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
            </div>
            <div class="col-lg-8">
                <div class="card-body py-5 px-md-5">
                    <h3>Today's Appointments</h3>
                    <!-- Add content for doctor's dashboard -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
{{ block.super }}
{% endblock %}

{% block javascript %}
{{ block.super }}
{% endblock %}
